/fastqc/reads_Lung
/results/slurm_output
/fastqc/results/*.zip
/data
/results/alignment
/results/05_overrepresentation_analysis
/results/04_de_analysis/*.png
/scripts/.RData
/scripts/.Rhistory
DEAnalysisWorkflow.html
/notes/notes_obsidian.md
/results/04_de_analysis/.*
notes/notes_obsidian.md
/results/03_counts/featureCounts_counts.txt
/results/03_counts/readcount.txt
